{# templates/app/includes/_sidebar.html #}
{% load static %}

<aside class="left-sidebar">
  <div>
    <!-- Brand -->
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="{% url 'home' %}" class="text-nowrap logo-img">
        <img src="{% static 'assets/images/logos/logo-wrappixel.svg' %}" alt="logo" />
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-6"></i>
      </div>
    </div>

    <!-- Sidebar navigation -->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">

        <!-- ===================== MAIN ===================== -->
        <li class="nav-small-cap">
          <a href="{% url 'home' %}" class="d-flex align-items-center text-decoration-none">
            <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
            <span class="hide-menu">Главная</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'status' %}" aria-expanded="false">
            <i class="ti ti-atom"></i>
            <span class="hide-menu">Состояние склада</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'insert' %}" aria-expanded="false">
            <i class="ti ti-aperture"></i>
            <span class="hide-menu">Размещение</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'selection' %}" aria-expanded="false">
            <i class="ti ti-shopping-cart"></i>
            <span class="hide-menu">Отбор</span>
          </a>
        </li>

        <!-- ===================== TECH SERVICE (collapse) ===================== -->
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'inventarization' %}" aria-expanded="false">
            <i class="ti ti-layout-grid"></i>
            <span class="hide-menu">Инвертаризация</span>
          </a>
        </li>


          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a class="sidebar-link" href="#">
                <div class="d-flex align-items-center gap-3">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="ti ti-circle"></i>
                  </div>
                  <span class="hide-menu">Инвентаризация</span>
                </div>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="#">
                <div class="d-flex align-items-center gap-3">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="ti ti-circle"></i>
                  </div>
                  <span class="hide-menu">Контроль ошибок</span>
                </div>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="#">
                <div class="d-flex align-items-center gap-3">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="ti ti-circle"></i>
                  </div>
                  <span class="hide-menu">Выгрузка</span>
                </div>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'inhra-settings' %}" aria-expanded="false">
                <div class="d-flex align-items-center gap-3">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="ti ti-circle"></i>
                  </div>
                  <span class="hide-menu">Настройки склада</span>
                </div>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="#">
                <div class="d-flex align-items-center gap-3">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="ti ti-circle"></i>
                  </div>
                  <span class="hide-menu">Contact Us</span>
                </div>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="#">
                <div class="d-flex align-items-center gap-3">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="ti ti-circle"></i>
                  </div>
                  <span class="hide-menu">Portfolio</span>
                </div>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="#">
                <div class="d-flex align-items-center gap-3">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="ti ti-circle"></i>
                  </div>
                  <span class="hide-menu">Pricing</span>
                </div>
              </a>
            </li>
          </ul>
        </li>

        <li><span class="sidebar-divider lg"></span></li>

        <!-- ===================== APPS ===================== -->
        <li class="nav-small-cap">
          <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
          <span class="hide-menu">Обслуживание</span>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'tech_maintance' %}" aria-expanded="false">
            <div class="d-flex align-items-center gap-3">
              <span class="d-flex"><i class="ti ti-basket"></i></span>
              <span class="hide-menu">Тех. обслуживание</span>
            </div>
          </a>
          </li>
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Shop</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Details</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">List</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Checkout</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Add Product</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Edit Product</span></div></a></li>
          </ul>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
            <div class="d-flex align-items-center gap-3">
              <span class="d-flex"><i class="ti ti-chart-donut-3"></i></span>
              <span class="hide-menu">Ручное удаление</span>
            </div>
          </a>
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Blog Posts</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Blog Details</span></div></a></li>
          </ul>
        </li>





        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-user-circle"></i></span><span class="hide-menu">О программе</span></div></a></li>
        <!--
        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-mail"></i></span><span class="hide-menu">Email</span></div></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-calendar"></i></span><span class="hide-menu">Calendar</span></div></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-layout-kanban"></i></span><span class="hide-menu">Kanban</span></div></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-message-dots"></i></span><span class="hide-menu">Chat</span></div></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-notes"></i></span><span class="hide-menu">Notes</span></div></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-phone"></i></span><span class="hide-menu">Contact Table</span></div></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-list-details"></i></span><span class="hide-menu">Contact List</span></div></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-file-text"></i></span><span class="hide-menu">Invoice</span></div></a></li>

        <li><span class="sidebar-divider lg"></span></li>
        

        -->


        

        <!-- ===================== PAGES ===================== -->
        <!--
        <li class="nav-small-cap">
          <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
          <span class="hide-menu">Pages</span>
        </li>

        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-accessible"></i></span><span class="hide-menu">Animation</span></div></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-user-search"></i></span><span class="hide-menu">Search Result</span></div></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-brand-google-photos"></i></span><span class="hide-menu">Gallery</span></div></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-masks-theater"></i></span><span class="hide-menu">Treeview</span></div></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-arrows-maximize"></i></span><span class="hide-menu">Block-Ui</span></div></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-sort-ascending"></i></span><span class="hide-menu">Session Timeout</span></div></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-currency-dollar"></i></span><span class="hide-menu">Pricing</span></div></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-help"></i></span><span class="hide-menu">FAQ</span></div></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-user-circle"></i></span><span class="hide-menu">Account Setting</span></div></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#" aria-expanded="false"><div class="d-flex align-items-center gap-3"><span class="d-flex"><i class="ti ti-app-window"></i></span><span class="hide-menu">Landingpage</span></div></a></li>

        -->
        
        <!-- Widgets -->


        <!--
        <li class="sidebar-item">
          <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
            <div class="d-flex align-items-center gap-3">
              <span class="d-flex"><i class="ti ti-layout"></i></span>
              <span class="hide-menu">Widgets</span>
            </div>
          </a>
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Cards</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Banner</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Charts</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Feeds</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Apps</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Data</span></div></a></li>
          </ul>
        </li>

        <li><span class="sidebar-divider lg"></span></li>


        -->

        <!-- ===================== UI ===================== -->

        <!--
        <li class="nav-small-cap">
          <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
          <span class="hide-menu">UI</span>
        </li>

        <li class="sidebar-item"><a class="sidebar-link" href="./ui-buttons.html" aria-expanded="false"><i class="ti ti-layers-subtract"></i><span class="hide-menu">Buttons</span></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="./ui-alerts.html" aria-expanded="false"><i class="ti ti-alert-circle"></i><span class="hide-menu">Alerts</span></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="./ui-card.html" aria-expanded="false"><i class="ti ti-cards"></i><span class="hide-menu">Card</span></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="./ui-forms.html" aria-expanded="false"><i class="ti ti-file-text"></i><span class="hide-menu">Forms</span></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="./ui-typography.html" aria-expanded="false"><i class="ti ti-typography"></i><span class="hide-menu">Typography</span></a></li>

        -->
        
        <!-- Ui Elements -->
         <!--
        <li class="sidebar-item">
          <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
            <div class="d-flex align-items-center gap-3">
              <span class="d-flex"><i class="ti ti-layout-grid"></i></span>
              <span class="hide-menu">Ui Elements</span>
            </div>
          </a>
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Accordian</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Badge</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Dropdowns</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Modals</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Tab</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Tooltip &amp; Popover</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Notification</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Progressbar</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Pagination</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Bootstrap UI</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Breadcrumb</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Offcanvas</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Lists</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Grid</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Carousel</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Scrollspy</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Spinner</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Link</span></div></a></li>
          </ul>
        </li>

        -->

        <!-- Components -->

        <!--
        <li class="sidebar-item">
          <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
            <div class="d-flex align-items-center gap-3">
              <span class="d-flex"><i class="ti ti-components"></i></span>
              <span class="hide-menu">Components</span>
            </div>
          </a>
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Sweet Alert</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Nestable</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Noui slider</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Rating</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Toastr</span></div></a></li>
          </ul>
        </li>

        -->

        <!-- Cards -->
         <!--
        <li class="sidebar-item">
          <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
            <div class="d-flex align-items-center gap-3">
              <span class="d-flex"><i class="ti ti-cards"></i></span>
              <span class="hide-menu">Cards</span>
            </div>
          </a>
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Basic Cards</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Custom Cards</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Weather Cards</span></div></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#"><div class="d-flex align-items-center gap-3"><div class="round-16 d-flex align-items-center justify-content-center"><i class="ti ti-circle"></i></div><span class="hide-menu">Draggable Cards</span></div></a></li>
          </ul>
        </li>

        <li><span class="sidebar-divider lg"></span></li>
        -->

        <!-- ===================== FORMS ===================== -->
         <!--
        <li class="nav-small-cap">
          <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
          <span class="hide-menu">Forms</span>
        </li>
        
        -->


        <!-- (Дальше формы/таблицы/чарты/auth/extra — оставлены, но чтобы не раздувать ответ на мегапростыню,
             я могу продолжить вставку оставшихся блоков 1:1 таким же образом. ) -->
             

      </ul>
    </nav>
  </div>
</aside>
